<div class="container">
    <h1 id="header">NOVA REACTOR</h1>

    <input style="width: 475px;" type="text" placeholder="repo url, e.g. https://github.com/BSteffaniak/Nova" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" [(ngModel)]="repo.url.value" (valid-url)="updateUrlComponents($event)" (valid-update)="updateRepoUrlValid($event)" (keyup)="$event.key == 'Enter' && searchRepo()" (ngModelChange)="urlUpdated($event)" />
    <button class="invalid" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" (click)="repo.url.valid && searchRepo()">Begin Analysis</button>

    <div class="repo-results">
        <div class="repo-container" [ngClass]="{ 'loading-new': repo.searching && repo.data, 'closed': !repo.searching && !repo.username && !repo.data, 'searching': repo.data && repo.searching, 'invalid-username': repo.invalidUsername, 'invalid-repo-name': !repo.invalidUsername && repo.invalidName }">
            <p class="repo-overlay-text searching">Loading repo...</p>
            <p class="repo-overlay-text invalid-repo-name">Invalid repo name '{{ repo.name }}'</p>
            <p class="repo-overlay-text invalid-username">Invalid username '{{ repo.username }}'</p>
            <hr />
            <div *ngIf="repo.username" class="repo-info">
                <table>
                    <tr>
                        <td>
                            <github-user [username]="repo.username" (user-updated)="updateUser($event)" (error)="handleError($event)"></github-user>
                        </td>
                        <td>
                            <github-repo [username]="repo.username" [repo]="repo.name" (repo-updated)="updateRepo($event)" (requires-reactor-config)="updateRequiresReactorConfig($event)" (error)="handleError($event)"></github-repo>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    </div>

    <div *ngIf="repo.requiresConfig">
        <h3>This repository requires a <span class="light-gray">.reactor.yml</span> config file to be set up before continuing</h3>
        
        <input style="width: 520px;" type="text" placeholder="main class location, e.g. myproject/subfolder/Main.nova" [(ngModel)]="repo.mainClassLocation" (ngModelChange)="validateMainClassLocation($event)" />
        <button [ngClass]="{ invalid: !repo.validClassLocation }">Confirm</button>
    </div>

    <ng-content></ng-content>
</div>