<h1 id="header">NOVA REACTOR</h1>

<input style="width: 475px;" type="text" placeholder="repo url, e.g. https://github.com/BSteffaniak/Nova" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" [(ngModel)]="repo.url.value" (valid-url)="updateUrlComponents($event)" (valid-update)="updateRepoUrlValid($event)" (keyup)="$event.key == 'Enter' && searchRepo()" (ngModelChange)="urlUpdated($event)" />
<button class="invalid" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" (click)="repo.url.valid && searchRepo()">Begin Analysis</button>

<div class="repo-results" [ngClass]="{ 'valid': repo.url.valid }">
    <p *ngIf="repo.searching && !repo.data">Loading repo...</p>
    <div *ngIf="repo.username">
        <table class="repo-info">
            <tr>
                <td>
                    <github-user [username]="repo.username" (user-updated)="updateUser($event)"></github-user>
                </td>
                <td>
                    <github-repo [username]="repo.username" [repo]="repo.name" (repo-updated)="updateRepo($event)"></github-repo>
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-content></ng-content>