html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	
	color: #444;
}

a {
	color: #444;
	
	text-decoration: none;
}

.container {
	max-width: 800px;
	margin: auto;
}

.light-gray {
	color: #aaa;
}

div.repo-container {
	margin-top: 0;
	max-height: 500px;
	overflow: hidden;
	
	padding-bottom: 30px;
	margin-bottom: -30px;
}

div.repo-container,
div.repo-info {
	-webkit-transition: 2.3s ease all;
	transition: 2.3s ease all;
    -webkit-transition-property: max-height;
    transition-property: max-height;
}

div.repo-container.closed {
	max-height: 0px;
}

div.repo-container.loading-new {
	max-height: 100px;
}

hr {
	border: 1.5px solid #444;
	
	margin: 30px 0;
}

hr:after {
	content: ' ';
    width: 10px;
    height: 10px;
    background-color: #444;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%)rotateZ(45deg);
}

#splashscreen {
	text-align: center;
	
	background-color: #f0f0f0;
}

.full {
	height: 100%;
}

#header {
	font-size: 72px;
}

div.repo-results {
	padding-top: 20px;
	
	overflow: hidden;
	
	position: relative;
}

div.repo-info {
	opacity: 1;
}

div.repo-container.loading-new div.repo-info {
	opacity: 0.5;
}

div.github-user {
	display: inline-block;
}

div.github-user h3,
div.github-user h5 {
	margin: 0;
}

div.github-avatar {
	width: 100px;
	
	border-radius: 50%;
	
	overflow: hidden;
	
	margin: auto;
}

p.repo-loading-text {
	position: absolute;
    font-size: 40px;
    left: 0;
    margin: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)translateY(8px);
    
    display: none;
}

p.repo-loading-text.searching {
	display: block;
}

div.github-avatar > img {
	width: 100%;
}

div.repo-info.searching {
	max-height: 0px;
}

div.repo-info {
	max-height: 500px;
	overflow: hidden;
}

.repo-info table {
	width: 100%;
	max-width: 700px;
	min-width: 400px;
	margin: auto;
}

.repo-info td {
	vertical-align: top;
	text-align: center;
}

p.loading-text {
	margin-bottom: 0;
}

div.commits {
	text-align: right;
	margin: 0 !important;
	overflow: hidden;
	width: 300px;
	display: inline-block;
}

div.commit a {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

button {
	outline: none;
	
	background-color: white;
	border: 2px solid white;
}

button.valid {
	cursor: pointer;
}

button.invalid {
	color: #eee;
}

button.valid:active {
	background-color: #e0e0e0;
}

textarea:focus, input:focus {
    outline: none;
}

textarea:focus, input:focus {
    border-color: #c0c0c0;
}

textarea.valid, input.valid {
    border-color: #9bcb3c;
}

textarea.dirty.invalid, input.dirty.invalid {
    border-color: #f15d3b;
}

button, input {
	border: 2px solid white;
	border-radius: 15px;
	padding: 10px;
	
	font-size: 20px;
	
	color: #444;
	
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

input {
    -webkit-transition-property: border;
    transition-property: border;
}

button {
    -webkit-transition-property: color;
    transition-property: color;
}