html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	
	color: #444;
}

#splashscreen {
	text-align: center;
	
	background-color: #f0f0f0;
}

.full {
	height: 100%;
}

#header {
	font-size: 72px;
}

div.repo-results {
	padding-top: 20px;
	
	opacity: 0.5;
}

div.repo-results.valid {
	opacity: 1;
}

div.github-user {
	display: inline-block;
}

div.github-avatar {
	width: 100px;
	
	border-radius: 50%;
	
	overflow: hidden;
}

div.github-avatar > img {
	width: 100%;
}

button {
	outline: none;
	
	background-color: white;
	border: 2px solid white;
}

button.valid {
	cursor: pointer;
}

button.invalid {
	color: #eee;
}

button.valid:active {
	background-color: #e0e0e0;
}

textarea:focus, input:focus {
    outline: none;
}

textarea:focus, input:focus {
    border-color: #c0c0c0;
}

textarea.valid, input.valid {
    border-color: #9bcb3c;
}

textarea.dirty.invalid, input.dirty.invalid {
    border-color: #f15d3b;
}

button, input {
	border: 2px solid white;
	border-radius: 15px;
	padding: 10px;
	
	font-size: 20px;
	
	color: #444;
	
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

input {
    -webkit-transition-property: border;
    transition-property: border;
}

button {
    -webkit-transition-property: color;
    transition-property: color;
}