html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
	font-size: 20px;
	
	color: #444;
}

a {
	color: #444;
	
	text-decoration: none;
}

.info-icon {
	width: 15px;
	
	opacity: 0.3;
	
	margin: 0 3px;
    position: relative;
    top: 1px;
	
	-webkit-transition: 1s ease all;
	transition: 1s ease all;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.info-icon:hover {
	opacity: 1;
}

div.tooltip {
	background-color: rgba(68, 68, 68, 0.95);
	
	color: white;
	
	display: inline-block;
	
	border-radius: 4px;
	
	padding: 5px 9px;
	
	position: absolute;
	
	/*pointer-events: none;*/
	
	opacity: 1;
	
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

div.tooltip.hidden {
	opacity: 0;
}

.container {
	max-width: 850px;
	margin: auto;
}

.light-gray {
	color: #aaa;
}

div.repo-info, div.repo-container {
	max-height: 400px;
	overflow: hidden;
}

div.repo-container {
	margin-top: 0;
	
	padding-bottom: 30px;
	margin-bottom: -30px;
}

div.repo-container,
div.repo-info {
	min-height: 0px;
	
	-webkit-transition: 1s ease all;
	transition: 1s ease all;
    -webkit-transition-property: min-height, max-height;
    transition-property: min-height, max-height;
}

div.repo-container.closed {
	max-height: 0px;
}

div.repo-container.loading-new {
	max-height: 100px;
}

div.repo-container.rate-limit-exceeded,
div.repo-container.invalid-repo-name {
	min-height: 120px;
}

hr {
	border: 1.5px solid #444;
	
	margin: 30px 0;
}

hr:after {
	content: ' ';
    width: 10px;
    height: 10px;
    background-color: #444;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%)rotateZ(45deg);
}

#splashscreen {
	text-align: center;
	
	background-color: #f0f0f0;
}

.full {
	height: 100%;
}

#header {
	font-size: 72px;
}

div.repo-results {
	padding-top: 20px;
	
	overflow: hidden;
	
	position: relative;
}

div.repo-info {
	opacity: 1;
	
	-webkit-transition: 1s ease all;
	transition: 1s ease all;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

div.repo-container.loading-new div.repo-info {
	opacity: 0;
}

div.github-repo {
	display: inline-block;
	
	text-align: right;
}

div.github-repo a h1 {
	margin-top: 0;
}

div.github-user {
	display: inline-block;
}

div.github-user h3,
div.github-user h5 {
	margin: 0;
}

div.github-avatar {
	width: 100px;
	
	border-radius: 50%;
	
	overflow: hidden;
	
	margin: auto;
}

p.repo-overlay-text {
	position: absolute;
    font-size: 40px;
    left: 0;
    margin: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)translateY(8px);
    
    display: none;
}

div.repo-container.searching p.repo-overlay-text.searching,
div.repo-container.invalid-username p.repo-overlay-text.invalid-username,
div.repo-container.invalid-repo-name p.repo-overlay-text.invalid-repo-name,
div.repo-container.rate-limit-exceeded p.repo-overlay-text.rate-limit-exceeded {
	display: block;
}

/*div.repo-container.searching div.repo-info,*/
div.repo-container.invalid-username div.repo-info,
div.repo-container.invalid-repo-name div.repo-info,
div.repo-container.rate-limit-exceeded div.repo-info {
	opacity: 0.3;
}

div.github-avatar > img {
	width: 100%;
}

div.repo-info.searching {
	max-height: 0px;
}

.repo-info table {
	width: 100%;
	margin: auto;
}

.repo-info td {
	vertical-align: top;
	text-align: center;
}

p.loading-text {
	margin-bottom: 0;
}

div.commits-container {
	text-align: right;
}

.commits-header {
	margin: 5px 0;
}

div.commits {
	text-align: right;
	margin: 0 !important;
	overflow: hidden;
	max-width: 300px;
	display: inline-block;
}

div.commit a {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

button {
	outline: none;
	
	background-color: white;
	border: 2px solid white;
}

button:not(.invalid) {
	cursor: pointer;
}

button.invalid {
	color: #eee;
}

button:not(.invalid):active {
	background-color: #e0e0e0;
}

textarea:focus, input:focus {
    outline: none;
}

textarea:focus, input:focus {
    border-color: #c0c0c0;
}

textarea.valid, input.valid {
    border-color: #9bcb3c;
}

textarea.ng-dirty.invalid, input.ng-dirty.invalid {
    border-color: #f15d3b;
}

button, input {
	border: 2px solid white;
	border-radius: 15px;
	padding: 10px;
	
	font-size: 20px;
	
	color: #444;
	
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

button.skinny, input.skinny {
	padding: 4px;
}

button.inline-button {
	position: relative;
	bottom: 3px;
}

input {
    -webkit-transition-property: border;
    transition-property: border;
}

button {
    -webkit-transition-property: color;
    transition-property: color;
}