div.collapse-container {
    overflow: hidden;
    margin-top: 0;
    position: relative;
    
    /*padding-bottom: 30px;
    margin-bottom: -30px;*/
}

div.collapse-container,
div.collapse-section {
    min-height: 0px;
    
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    -webkit-transition-property: min-height, max-height;
    transition-property: min-height, max-height;
}

div.collapse-container.closed {
    max-height: 0px;
}

div.collapse-container hr:first-child {
    /*margin-bottom: 50px;*/
}

hr {
    /*border: 1.5px solid #444;
    
    margin: -3px;*/
    
    margin: 0;
    border: none;
    
    height: 3px;
    margin-bottom: -3px;
    
    background-color: #444;
}

hr:after {
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: #444;
    position: absolute;
    left: 50%;
    transform: translateY(1.5px)translate(-50%,-50%)rotateZ(45deg);
}

div.collapse-section {
    /*margin-bottom: -63px;
    
    overflow: hidden;
    
    position: relative;*/
}

div.collapse-content {
    padding: 30px 0;
}

collapse-section {
    display: block;
    
    /*margin: 10px 0;*/
}

collapse-section[end] {
    margin-bottom: 5px;
}

collapse-section > div.collapse-section > hr:last-child {
    display: none;
}

collapse-section[end] > div.collapse-section > hr:last-child {
    display: block;
}