<h3>This repository requires a <span tooltip="<span class='light-gray'>.reactor.yml</span> is a configuration file that you put in the root folder of your project, similar to a .travis.yml file, that contains metadata on how to build the project." tooltip-max-width="400px"><span class="light-gray">.reactor.yml</span><img src="/Shared/Images/info.svg" class="info-icon" /></span> config file to be set up before continuing</h3>

<div class="reactor-config-preview rounded">
    <span>language</span>: nova<br>
    <span>mainClassLocation</span>: <span *ngIf="!repo.mainClassLocation" class="placeholder">myproject/subfolder/Main</span><span [textContent]="repo.mainClassLocation"></span><span [ngClass]="{ placeholder: repo.configStatus != 'written' }" [textContent]="autoCompleteEnd(repo.mainClassLocation, '.nova')"></span>
</div>

<div *ngIf="repo.configStatus == 'requires'">
    <input style="width: 520px;" type="text" placeholder="main class location, e.g. myproject/subfolder/Main.nova" [(ngModel)]="repo.mainClassLocation" (ngModelChange)="validateMainClassLocation($event)" [ngClass]="{ valid: validMainClassLocation(repo.mainClassLocation), invalid: invalidMainClassLocation(repo.mainClassLocation) }" />
    <button [ngClass]="{ invalid: !repo.validClassLocation }" (click)="repo.validClassLocation && writeConfigFile()">Confirm</button>
    <p *ngIf="repo.configError">Error creating config file</p>
</div>
<div *ngIf="repo.configStatus == 'written'">
    <p>Successfully wrote <span class="light-gray">.reactor.yml</span> file to the repo.</p>
</div>