<div class="container">
    <h1 id="header">NOVA REACTOR</h1>
    
    <input style="width: 475px;" type="text" placeholder="repo url, e.g. https://github.com/BSteffaniak/Nova" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" [(ngModel)]="repo.url.value" (valid-url)="updateUrlComponents($event)" (valid-update)="updateRepoUrlValid($event)" (keyup)="$event.key == 'Enter' && searchRepo()" (ngModelChange)="urlUpdated($event)" />
    <button class="invalid" [url-validate]="repo.url.value" [validator-pattern]="repo.url.validPattern" (click)="repo.url.valid && searchRepo()">Search</button>

    <repo-results [repo]="repo" (onDataReceived)="repoDataReceived($event)" (onErrorReceived)="handleError($event)" (onConfigStatusReceived)="updateReactorConfigStatus($event)"></repo-results>

    <collapse-section [closed]="!repo.configStatus || repo.configStatus == 'exists'" [openDelay]="400">
        <config-setup [repo]="repo" (onErrorReceived)="handleError($event)"></config-setup>
    </collapse-section>
    <collapse-section id="repo-stats-section" end [closed]="!repo.configStatus || ['written', 'exists'].indexOf(repo.configStatus) < 0" [openDelay]="400">
        <repo-stats *ngIf="repo.data" [repo]="repo.data" [host]="repo.host"></repo-stats>
    </collapse-section>
    <p *ngIf="loggedInUser.data" class="user-info"><a [href]="loggedInUser.url" target="_blank" class="username" [textContent]="loggedInUser.name"></a> <a class="logout" (click)="logout()">Logout</a></p>
</div>